.main-left .pic .bgpic2{ background:url("../images/services1_02.png") no-repeat center; width:288px; height:124px; left:40px; bottom:0;}
.solu-item .solu-pic{ background:url(../images/services1-1_01.png) no-repeat center; }
